{% load static wagtailuserbar wagtailimages_tags wagtailcore_tags menu_tags %}
{% load wagtailsettings_tags %}
{% get_settings %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>

  {% get_current_language as LANGUAGE_CODE %}

    <!-- Cookie consent -->
<link rel="stylesheet" type="text/css" href="/static/css/cookieconsent.min.css" />
<script src="/static/js/cookieconsent.min.js" data-cfasync="false"></script>
<script async defer data-website-id="e428ceb1-ad80-444e-b86e-10838b8e2be5" src="https://analytics.womensdeclaration.com/umami.js"></script>

    <meta charset="utf-8" />

    <title>
        {% block title %}
            {{ self.title }}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>

    {% if self.search_desciption %}
      <meta name="description" content="{{ self.search_desciption }}"/>
    {% else %}
      <meta name="description" content="Women's Declaration International" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% with self.get_site.site_name as site_name %}
      <meta property="og:title" content="{{ self.title }} {% if site_name %}- {{ site_name }}{% endif %}">
    {% endwith %}

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://womensdeclaration.com{{ self.url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {% if self.listing_image %}
      {% image self.listing_image fill-600x400 as image %}
      <meta property="og:image" content="{{ settings.wdi_website.UploadSiteLogo.transparent_site_logo.url }}" alt="{{ image.alt }}">
      <meta property="og:image:alt" content="{{ image.alt }}">
    {% else %}
      <meta property="og:image" content="https://womensdeclaration.com/static/images/purple_logo.png">
      <meta property="og:image:alt" content="Declaration on Women's Sex-Based Rights">
    {% endif %}

    <meta property="og:image:type" content="image">
    <meta property="og:image:width" content="auto">
    <meta property="og:image:height" content="auto">

    {% if self.search_desciption %}
      <meta property="og:description" content="{{ self.search_desciption }}"/>
    {% else %}
      <meta property="og:description" content="The Declaration on Women's Sex-Based Rights">
    {% endif %}

    {# Global stylesheets #}
    <link rel="stylesheet" href="/static/css/wdi-website.css">
    <link rel="stylesheet" href="/static/css/fork-awesome.min.css">

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">


  <script>
    var loadIFrame = loadIFrame || {};
    var vol_div_ID = 1;
    var con_div_ID = 1;
    var emb_div_ID = 1;
    var don_div_ID = 1;
window.addEventListener('load', function(){
  window.cookieconsent.initialise({
   revokeBtn: "<div class='cc-revoke' id='cc-revoke-link' >{% trans "Cookie settings" %}</div>",
   type: "opt-in",
   theme: "classic",
   palette: {
       popup: {
           background: "#990099",
           text: "#fff"
        },
       button: {
           background: "#E600E6",
           text: "#fff"
        }
    },
   content: {
       message: "{% trans 'This website uses cookies to ensure you get the best experience on our website.' %}",
       link: "{% trans 'Cookie policy' %}",
       allow: "{% trans 'Allow cookies' %}",
       deny: "{% trans 'Decline' %}",
       href: "/{{ LANGUAGE_CODE }}/privacy-policy/"
    },
      onInitialise: function(status) {
      if(status == cookieconsent.status.allow && isScriptDefined(loadIFrame)) loadIFrame()
      },
      onStatusChange: function(status) {
      if (this.hasConsented() && isScriptDefined(loadIFrame)) loadIFrame()
    }
  })
});

function isScriptDefined(possibleFunction) {
  return typeof(possibleFunction) === typeof(Function);
}

</script>

    {% wagtailuserbar %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="header">
      <div class="header-container">

        <div class="header__nav__container">
          <div class="header__nav__primary">
            <a href="/{{LANGUAGE_CODE}}" class="header__nav__logo">
              <img src="{{ settings.wdi_website.UploadSiteLogo.transparent_site_logo.url }}" style="max-height: 100px; max-width: 100px">
              <p class="header__nav__logo__initials">WDI</p>
            </a>

            {% flat_menu "main_menu_"|add:LANGUAGE_CODE as menu_exists %}
            {% if menu_exists %}
            {% flat_menu "main_menu_"|add:LANGUAGE_CODE template="wdi_website/partials/main_menu.html" %}
            {% else %}
            {% main_menu template="wdi_website/partials/main_menu.html" %}
            {% endif %}
          </div>
          <div class="header__nav__secondary">

               <div class="header__nav__search">
                  <form action="/{{LANGUAGE_CODE}}/search" method="get" role="search" style="display:flex">
                  <input id="search-field" type="text" placeholder={% trans "Search" context "The placeholder in a global search bar" %} name="query">
                      <button id="btn-search" type="submit">
                        <i class="fa fa-search fa-lg nav_icon_search" aria-hidden="true"></i>
                      </button>
                   </form>
              </div>

            <i class="fa fa-language nav_icon_lang" aria-hidden="true" id="langauage_changer" onclick="toggleLanguageMessage()">
              <span class="header__nav__item nav_icon_lang_text">{% get_language_info for LANGUAGE_CODE as lang %}
                {{ lang.name_local|slice:"2" }}</span>
            </i>

            <div class="header__nav__language__menu" id="no-languages-notification" style="display:none">
                  {% if page %}
                {% if page.get_translations.live %}
                    {% for translation in page.get_translations.live %}
                        {% get_language_info for translation.locale.language_code as lang %}

                        <form method="post" action="{% url 'set_language' %}">{% csrf_token %} <!-- Using a form to set the user's preferred language when using a switch. -->
                            <input name="next" type="hidden" value="{% pageurl translation %}">
                            <input name="language" type="hidden" value="{{ lang.code }}">

                              <button type="submit" name="submit_param" value="submit_value" class="language-link">
                                    {{ lang.name_local }}
                              </button>
                        </form>
                    {% endfor %}
                {% else %}
                    No translations are available for this page.
                {% endif %}
                {% endif %}
            </div>




          </div>

        </div>

        <h1 class="header__title">{{ page.title }}</h1>

        {% if page.subtitle %}
          <p class="header__subtitle">{{ page.subtitle }}</p>
        {% endif %}

        {% if page.header_ctas %}
          <div class="header__ctas">
            {% for block in page.header_ctas %}
              {{ block }}
            {% endfor %}
          </div>
        {% endif %}

      </div>
    </div>

    {% block content %}{% endblock %}

    <div class="footer">
      <div class="footer__container">
        <div class="footer__column footer__column--about">
          <img class="footer__logo" src="{{ settings.wdi_website.UploadSiteLogo.transparent_site_logo.url }}" style="max-height: 100px; max-width: 100px">
          <h3>{% trans "About WDI" %}</h3>
          <p>{% trans "Women's Declaration International is a group of volunteer women who are dedicated to preserving our sex-based rights. Join us in defending women and girls." %}</p>
            <br>
            <p>
                Women's Declaration International Ltd <br>
                Company number 12039415<br>
                Registered in England and Wales <br>
            </p>

            <h4>{% trans "Mailing address:" %}</h4>
            <address>
                Suite A, 82 James Carter Rd <br>
                Mildenhall, Suffolk, IP28 7DE, United Kingdom
            </address>
        </div>

        <div class="footer__column footer__column--links">
          <h3>{% trans "Site Map" %}</h3>
            {% flat_menu "footer_"|add:LANGUAGE_CODE as footer_menu_exists %}
            {% if footer_menu_exists %}
            {% flat_menu "footer_"|add:LANGUAGE_CODE template="wdi_website/partials/footer_menu.html" %}
            {% else %}
            {% flat_menu 'footer' template="wdi_website/partials/footer_menu.html" %}
            {% endif %}

        </div>

        <div class="footer__column footer__column--links">
          <h3>{% trans "Social" %}</h3>
          <ul class="footer__links">
            <a href="{{ settings.wdi_website.SocialMediaSettings.spinster }}" target="_blank"><li><img src="/static/images/spinster_logo.png" />
		Spinster</li></a>
            <a href="{{ settings.wdi_website.SocialMediaSettings.facebook }}" target="_blank"><li><i class="fa fa-facebook-square" aria-hidden="true"></i>
        Facebook</li></a>
            <a href="{{ settings.wdi_website.SocialMediaSettings.twitter }}" target="_blank"><li><i class="fa fa-twitter-square" aria-hidden="true"></i>
        Twitter</li></a>
            <a href="{{ settings.wdi_website.SocialMediaSettings.youtube }}" target="_blank"><li><i class="fa fa-youtube-square" aria-hidden="true"></i>
        Youtube</li></a>
              <a href="{{ settings.wdi_website.SocialMediaSettings.spotify }}" target="_blank"><li><i class="fa fa-spotify" aria-hidden="true"></i>
        Spotify</li></a>
            <a href="{{ settings.wdi_website.SocialMediaSettings.gettr }}" target="_blank"><li><img src="/static/images/gettr_logo.png" />
        Gettr</li></a>
            <a href="{{ settings.wdi_website.SocialMediaSettings.repo }}" target="_blank"><li><i class="fa fa-gitlab" aria-hidden="true"></i>
        {% trans "Contribute on Gitlab" %}</li></a>
            <a href="/"><li><i class="fa fa-envelope" aria-hidden="true"></i>
        Email: info@womensdeclaration.com</li></a>
          </ul>
        </div>

      </div>
      <p>{% trans "The" %} <a href="{{ settings.wdi_website.SocialMediaSettings.repo }}" target="_blank">{% trans "code of this website" %}</a> {% trans "is published under the AGPL3, and the content under CC-BY-NC-ND." %}</p>
    </div>


    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/wdi-website.js' %}"></script>

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>

</html>
